body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    overflow: hidden;
    height: 100vh;
}
h1{
    text-align: center;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}
img{
    width: 300px;
    height: 250px;
    position: fixed;
    right: 600px;
    top: 30%;
}
a{
    text-decoration: none;
    color: #ffffff;
    padding: 7px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsla(199, 83%, 60%, 0.3);
    z-index: 9999;
    position: fixed;
    top:80%;
    right: 700px;
}
.heart-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.broken-heart {
    position: absolute;
    top: -50px;
    font-size: 24px;
    user-select: none;
    pointer-events: none;
    animation: fall linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(105vh) rotate(360deg);
        opacity: 0;
    }
}