*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(0, 0, 0);
}
h1{
  position: fixed;
  right: 530px;
  color: aliceblue;
  font-family: cursive;
}
.cuadro{
  width: 250px;
  height: 250px;
  position: fixed;
  right: 680px;
  top: 25%;
  clip-path: path('M213.1,6.7c-32.4-14.4-73.7,0-88.1,30.6C110.6,4.9,67.5-9.5,36.9,6.7C2.8,22.9-13.4,62.4,13.5,110.9 C33.3,145.1,67.5,170.3,125,217c59.3-46.7,93.5-71.9,111.5-106.1C263.4,64.2,247.2,22.9,213.1,6.7z');
  }
.cuadro img{
  width: 250px;
  height: 250px;
}
.pag1 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsla(0, 100%, 50%, 0.3);
    position: fixed;
    top:60%;
    right: 840px;
    right: center;
}
.pag2 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsla(0, 100%, 50%, 0.3);
    position: fixed;
    top:60%;
    right: 700px;
    right: center;
}
a{
  background: radial-gradient(circle,rgba(56, 199, 255, 1) 37%, rgba(255, 0, 0, 1) 68%, rgba(255, 120, 214, 1) 87%);
}
